{% extends 'base.html' %}

{% block content %}
<div class="container">
	<div class="main d-none d-md-flex flex-column">
		<div class="card p-4 align-items-start">

			<h3 class="pb-4">Разработка базовой версии чата</h3>
			<p class="pb-2">Чат разработан с помощью <a href="https://developer.mozilla.org/en-US/docs/Web/API/WebSocket" target="_blank" rel="nofollow">WebSockets</a> and <a href="https://channels.readthedocs.io/en/latest/" target="_blank" rel="nofollow">Django Channels</a>.</p>
			<a class="btn btn-info d-flex flex-row align-items-start" href="" target="_blank">
				<span class="d-flex material-icons pr-2">build</span>
				<span class="d-flex">Узнать больше</span>
			</a>
		</div>
	</div>
</div>

{% endblock content %}

